<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Simulator</title>
    <script defer src="/js/createReservation.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #cddeef80;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
            display: block;
        }

        input[type="text"], input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            box-sizing: border-box;
        }

        input[type="text"]:focus, input[type="date"]:focus {
            border-color: #007BFF;
            outline: none;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        .container {
            max-width: 100%;
            margin-top: 50px;
        }

        #id {
            margin-top: 20px;
            text-align: center;
            font-size: 18px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Create reservation</h1>
        <form id="form">
            <label for="first-name-input">First Name</label>
            <input type="text" id="first-name-input" name="first-name-input" placeholder="Enter your first name">

            <label for="surename-input">Surname</label>
            <input type="text" id="surename-input" name="surename-input" placeholder="Enter your surname">

            <label for="start-date-input">Start date of the reservation</label>
            <input type="date" id="start-date-input" name="start-date-input" placeholder="Enter the start date">

            <label for="end-date-input">End date of the reservation</label>
            <input type="date" id="end-date-input" name="end-date-input" placeholder="Enter the end date">

            <button type="submit">Submit Reservation</button>
        </form>
    </div>
</body>
</html>
